h1.cServices.cMain {
  color:black;
  text-align: center;
  font-size: 36px;
}

div.container.cServices.cMain {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px;
  padding: 34px;
  max-width: -moz-available;
  max-width: -webkit-available;
  text-align: left;
  justify-content: center;
}

div.container.cServices.cMain div.item {
  max-width: 400px;
  padding: 10px;
  border: 1px solid saddlebrown;
}

div.container.cServices.cMain div.item p span.fa {
  color: gold;
}

span.line.cServices.cMain {
  width: 80%;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: 2% auto;
}