.THIS {
    text-align: end;
    position: relative;
    display: flex;
    margin: 0 0 15px 0px
}

div.slds-m-around_xx-large.cModalForCar {
    text-align: center;
    margin: 17px 10px 10px 0px;
    position: relative;
    display: contents;
}

div.slds-m-around_xx-large.cModalForCar button {
    color: black;
    /* background-color: rgb(123, 152, 248); 
    border-radius: 0;
    border-color: rgb(0, 0, 0);*/
    height: fit-content;
    border: none;
    align-self: center;
}

div.slds-m-around_xx-large.cModalForCar button:hover {
    color: black;
    background-color: whitesmoke;
    animation: wiggle 2s linear infinite; 
}

div.slds-m-around_xx-large.cModalForCar img {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  max-height: 615px;
}

div.slds-m-around_xx-large.cModalForCar div.bottom-price {
  position: absolute;
  bottom: 65px;
  right: 15px;
  font-size: 58px;
  color: #939393;
}

div.slds-m-around_xx-large.cModalForCar div.bottom-price:hover {
  background-color: rgba(240, 255, 255, 0.31);
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  div.slds-m-around_xx-large.cModalForCar img {
    width: 100%;
    height: auto;
    max-height: 545px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  div.slds-m-around_xx-large.cModalForCar div.bottom-price {
    font-size: 35px;
  }
}
@media (min-width: 48em) {
  div.slds-m-around_xx-large.cModalForCar section.slds-modal.slds-fade-in-open div.slds-modal__container {
    margin: 0 auto;
    width: 83%;
    max-width: 70rem;
    min-width: 20rem;
  }
}