.THIS {
    text-align: end;
    position: relative;
    display: flex;
    margin: 0 0 15px 0px
}

div.slds-m-around_xx-large.cModalForCar {
    text-align: center;
    margin: 17px 10px 10px 0px;
    position: relative;
    display: contents;
}

div.slds-m-around_xx-large.cModalForCar button {
    color: black;
    /* background-color: rgb(123, 152, 248); 
    border-radius: 0;
    border-color: rgb(0, 0, 0);*/
    height: fit-content;
    border: none;
    align-self: center;
}

div.slds-m-around_xx-large.cModalForCar button:hover {
    color: black;
    background-color: whitesmoke;
    animation: wiggle 2s linear infinite;
}
/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}



