.THIS {
}

form.cTestDrive.cMain {
  align-self: center;
  align-items: center;
  padding: 100px 150px 100px;
    
}

h1.cTestDrive.cMain {
  color:black;
  text-align: center;
  font-size: 36px;
}

form.cTestDrive.cMain p {
    width: 100%;
    padding: 15px 5px 10px;
}

form.cTestDrive.cMain p label {
  color: black;
  font-size: 18px;
  margin-left: 25px;
}

form.cTestDrive.cMain p input[type=text] {
  margin-left: 20px;
  width: max-content;
  color: black;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid black;
  display: table;
  padding: 4px;
}

form.cTestDrive.cMain div {
  width: fit-content;
  padding-left: 5px;
}

form.cTestDrive.cMain div label {
  color: black;
  font-size: 18px;
  margin-bottom: 7px;
  margin-left: 25px;
}

form.cTestDrive.cMain div select {
  color: black;
  width: fit-content;
  font-size: 16px;
  margin-left: 20px;
  border: 1px solid;
}

form.cTestDrive.cMain div div {
  margin: 0px;
  padding: 0px;
}

form.cTestDrive.cMain input[type=submit]{
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 18px;
  background-color: #ffffff;
  color: black;
  align-self: center;
  width: fit-content;
  margin: 30px 30px 10px;
}
form.cTestDrive.cMain input[type=submit]:hover {
  color: rgb(62, 64, 65);
}