form.cQuestionComponent.cMain {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, white, #f2f2f2); 
  border-radius: 5px;
  padding: 50px; 
}

h1.cQuestionComponent.cMain {
  color:black;
  text-align: center;
  font-size: 36px;
}

span.line.cQuestionComponent.cMain {
  width: 75%;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: 2% auto;
}

form.cQuestionComponent.cMain b,
  form.cQuestionComponent.cMain div div b {
  text-decoration: none;
  font-size: 17px;
  align-self: flex-end;
  color: red;
}

form.cQuestionComponent.cMain div.row:after {
  content: "";
  display: table;
  clear: both;
}

form.cQuestionComponent.cMain div div.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

form.cQuestionComponent.cMain div div.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

form.cQuestionComponent.cMain div div input[type=text], 
 form.cQuestionComponent.cMain div div select,
 form.cQuestionComponent.cMain div div textarea {
  width: 50%;
  padding: 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

form.cQuestionComponent.cMain div div label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

form.cQuestionComponent.cMain input[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 8px 34px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

form.cQuestionComponent.cMain input[type=submit]:hover {
  background-color: #45a049;
}

form.cQuestionComponent.cMain div div textarea {
  height: 200px;
}

form.cQuestionComponent.cMain div div input,
 form.cQuestionComponent.cMain div div select,
 form.cQuestionComponent.cMain div div textarea {
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

form.cQuestionComponent.cMain div div input:focus, 
 form.cQuestionComponent.cMain div div textarea:focus {
  width: 60%;
} 

#email.cQuestionComponent.cMain,#phone.cQuestionComponent.cMain:invalid {
  border-bottom-style: 1px solid rgb(248, 52, 52);
}

/* form.cQuestionComponent.cMain input[type=submit]{
  margin-top: 50px;
  border: 1px solid black;
  font-size: 18px;
  background-color: #ffffff;
  color: black;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
form.cQuestionComponent.cMain input[type=submit]:hover {
  color: rgb(62, 64, 65);
} */

@media only screen and (max-width: 1000px) {
  form.cQuestionComponent.cMain div div.col-75,
   form.cQuestionComponent.cMain div div.col-25,
   form.cQuestionComponent.cMain div div.col-75 select,
   form.cQuestionComponent.cMain div div.col-75 textarea,
   form.cQuestionComponent.cMain div div.col-75 input,
   form.cQuestionComponent.cMain div div.col-25 label,
    form.cQuestionComponent.cMain input[type=submit]
   {
      width: 100%;
      margin-top: 0;
  }
}