.THIS.item {
  margin: 5px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}

div.slds-region_narrow.cProduct {
  display: flex;
  width: 100%;
  height: auto;
  /* width: calc(50% - 40px); */
  flex-wrap: wrap;
  margin: 5px 10px 15px 10px;
  justify-content: space-between;
}

div.slds-region_narrow.cProduct p {
  margin: 1em 0.5em 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  font-family: "Orienta",sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
