.THIS.item {
  margin: 5px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}

div.slds-region_narrow.cProduct {
  display: flex;
  width: 1120px;
  height: 658px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

div.slds-region_narrow.cProduct p {
  margin: 1em 0.5em 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  font-family: "Orienta",sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  div.slds-region_narrow.cProduct {
    width: 100%;
    height: 100%;
    max-width: 873px;
    max-height: 453px;
  }
}