.THIS {
  font-family: sans-serif;
}
header.THIS {
  width: 100%;
  height: 10%;
}
footer.THIS {
  width: 100%;
  height: 10%;
  background-color: black;
}
.THIS.content {
  display: flex;
}
.THIS.services {
  order: 1;
  width: 40%;
  flex: 0 0 auto;
}
.THIS.products {
  order: 2;
  width: auto;
  flex: 1 0 auto;
}
