.THIS {
  font-family: sans-serif;
}
header.THIS {
  width: 100%;
  height: 10%;
}
.cMain.cFooter {
  width: 100%;
  height: 2vh;
  background-color: black;
}
.THIS.content {
  display: flex;
}
.THIS.services {
  order: 1;
  width: 40%;
  flex: 0 0 auto;
}
.THIS.products {
  order: 2;
  width: auto;
  flex: 1 0 auto;
}

.THIS div.siteforceStarterBody div.cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium {
  margin: 0;
  padding: 0;
  width: 100%;
}

.THIS div.cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium
 div.siteforceSldsOneColLayout.siteforceContentArea 
 div.slds-col--padded.contentRegion.comm-layout-column {
  margin: 0;
  padding: 0;
  width: 100%;   
 }