.THIS {
}

.THIS.left-side-bar {
  border: 1px solid #d8dde6;
  margin: 0px 0 0px 0;
  width: 50%;
  align-items: left;
  align-self: left;
}

.THIS.right-side-bar {
  border: 1px solid #d8dde6;
  margin: 0px 0 0px 0;
  width: 400px;
  height: 400px;
  align-items: right;
  align-self: right;
}

.THIS.custom-box {
  text-align: center;
  padding: 1rem;
  border: 1px solid #d8dde6;
  border-radius: 25px;
}

.THIS.title {
  font-size: larger;
  font-weight: 900;
}
