div.cmp-container.cHome.cMain {
  padding: 60px 90px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.cmp-container.cHome.cMain div {
  display: block;
  padding: 10px;
  width: 500px;
  max-width: max-content;
  height: auto;
  position: relative;
}

div.cmp-container.cHome.cMain img {
  display: flex;
  flex-wrap: wrap;
  width: 515px;
  max-height: 300px;
  transform: none;
}

div.cmp-container.cHome.cMain div p {
  justify-content: start;
  font-size: larger;
  color: #000;
}
div.cmp-container.cHome.cMain div h2 {
  text-align: center;
  margin: 0 0 0 0;
  color: #343434;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  font-family: "Orienta", sans-serif;
}
